@inherits Longbow.Tasks.BlazorUI.Server.Components.Pages.Cron.CronItemBase

<CronRadio Name="CronSecond" Value="PerSecond" @bind-CheckedString="CheckedString" Text="每秒"></CronRadio>

<CronRadio Name="CronSecond" Value="CycleSecond" Text="周期从" @bind-CheckedString="CheckedString" Context="Checked">
    <div class="col-auto">
        <BootstrapInput TValue="string" IsDisabled="!Checked"></BootstrapInput>
    </div>
    <div class="col-auto col-form-label">
        <label>秒到</label>
    </div>
    <div class="col-auto">
        <BootstrapInput TValue="string" IsDisabled="!Checked"></BootstrapInput>
    </div>
    <div class="col-auto col-form-label">
        <label>秒</label>
    </div>
</CronRadio>

<CronRadio Name="CronSecond" Value="FromToSecond" Text="从" @bind-CheckedString="CheckedString" Context="Checked">
    <div class="col-auto">
        <BootstrapInput TValue="string" IsDisabled="!Checked"></BootstrapInput>
    </div>
    <div class="col-auto col-form-label">
        <label>秒开始，每</label>
    </div>
    <div class="col-auto">
        <BootstrapInput TValue="string" IsDisabled="!Checked"></BootstrapInput>
    </div>
    <div class="col-auto col-form-label">
        <label>秒执行一次</label>
    </div>
</CronRadio>

<CronRadio Name="CronSecond" Value="AppointSecond" Text="指定" @bind-CheckedString="CheckedString" Context="Checked">
    <div class="col-12 col-sm-10">
        <MultiSelect Items="SelectedItems" @bind-Value="@Value" IsDisabled="!Checked" />
    </div>
</CronRadio>
